## Проверка равенства дисперсий тестом Бартлетта 

Тест Бартлетта используется для двух или более групп, имеющих нормальное распределение

H0: std_1 = std_2 = ... = std_k

H1: хотя бы в одной группе дисперсия не равна остальным

In [28]:
from scipy.stats import norm, bartlett
import pandas as pd
import numpy as np

In [29]:
np.random.seed(17)

In [30]:
std_x = 1
std_y = 1.57
std_z = 1.71

mu_x = 1.17
mu_y = 1.21
mu_z = 3.51

n = 250

In [31]:
x = norm.rvs(size = n, loc = mu_x, scale = std_x)
y = norm.rvs(size = n, loc = mu_y, scale = std_y)
z = norm.rvs(size = n, loc = mu_z, scale = std_z)

In [32]:
df = pd.DataFrame({"A": x, "B": y, "C":z})

In [33]:
df

            A         B         C
0    1.446266  2.207199  2.850823
1   -0.684628  0.205358  7.334563
2    1.793901  3.722093 -0.628311
3    2.315311  0.063065  4.020217
4    2.207190 -0.375101  1.176420
..        ...       ...       ...
245  0.411008 -0.227701  1.319165
246  1.399272  1.962965  5.981444
247  2.576834  2.628640  5.743843
248  0.100587  2.135234  1.140797
249 -0.049436  2.128560  4.523208

[250 rows x 3 columns]

In [34]:
bartlett(df.A, df.B, df.C)

BartlettResult(statistic=78.2631822869507, pvalue=1.0124320811707914e-17)